
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body {
    width: 100%;
    height: 100%;
    min-width: 900px;
    min-height: 600px;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #EFECDD;
}
#wrapper {
    position: relative;
    height: 100%;
    min-width: 900px;
    min-height: 600px;
    overflow: hidden;
}
.fullwindow #wrapper {
    width: 100%;
}
#canvas {
    background: #f8f7f0;

    /* For the page effect */
    /*box-shadow: rgba(0,0,0,0.3) 1px 1px 0px;*/
    border: 1px solid #FFFFFF;
    top: 50%;
    left: 50%;
    position: absolute;
}
.fullwindow #canvas {
    border: 0px solid #FFFFFF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#control-wrapper {
    top: 0px;
    left: 0px;
    position: absolute;
    background: rgba(10,10,10,0.3);
    width: 100%;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
#control-wrapper.display {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;
}
#control-window {
    /*http://www.colourlovers.com/palette/3098000/Precious_Time*/
    color: #15CAB1;
    background-color: #f2f0db;
    /*border-radius: 5px;*/
    /*box-shadow: 10px 10px 5px #888888;*/
    /*background: rgba(255,255,255,0.5);*/
    top: 50%;
    left: 50%;
    position: absolute;
    width: 280px;
    margin-left: -140px;
    height: 0px;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
#control-window div.control-content {
    display: table;
    margin: 0px;
    padding: 0px;
    max-height: 80px;
    height: 100%;
    border-bottom: #6AB1A9 3px solid;
    width: 100%;
}
#control-window.display {
    height: 83px;
    margin-top: -40px;
    opacity: 1;
}
#control-window strong {
    color: #3C252F;
}
#control-window p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}


#debug {

    background: rgba(0,0,0,0.4);
    border-left: 1px solid rgba(0,0,0,0.5);
    color: white;

    height: 100%;
    width: 350px;

    position: absolute;
    right:0;

    overflow: scroll;
}

#debug p {

    margin: 12px 20px 0px 20px;
    font-family: monospace;
}

.debugSelector {

    text-decoration: underline;
    cursor: pointer;
}

/* hide the helper input */
input[type=file], #fileUpload {
    display:block;
    height:0;
    width:0;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
